/* shered styles */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.container{
    width: 70%;
    max-width: 1071px;
    margin: 0px auto;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
    
}
.color-orange{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 30px;
    color: #181818;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}
 
.text-center{
    text-align: center;
    margin-top: 50px;
}


/* main styles */

header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url(../images/developer.png),url(../images/header_bg.png),#FFF8F3;
    background-position: 23px 38px ,right bottom;
    background-repeat: no-repeat;
}
nav{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .manu{
    display: flex;
    list-style-type: none;
    gap: 30px;
    align-items: center;
}
nav .manu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
#banner{
    /* border: 2px solid black; */
    margin: 47px 6px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 40px;
    font-weight: 600;
    color:#474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 70px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 15px;
}
#banner .banner-content p{
    font-size: 16px;
    color: 757575;
    line-height: 30px;
    margin-bottom: 25px;
}
#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}
#about,#skills,#resume{
    margin-top: 130px;
}
#about .about-container{
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 164px 131px 150px;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
#about .about-info p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}
#about .about-info h4{
    font-size: 18px;
    line-height: 30px;
}
#skills .skills-container .skill-box{
    display: flex;
    gap: 5px;
}
.skill-box .skill-card{
    padding: 30px;
    /* border: 2px solid black; */
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000030;
}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 18px;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p{
    font-size: 14px;
    color: #757575;
    line-height: 28px;
}
#resume .resume-container{
    margin: 113px auto 0;
    display: flex;
    gap: 30px;
}
.resume-container hr{
    margin: 30px 0;
}
.resume-container .section-title{
    font-size: 25px;
    margin-bottom: 30px;
    color: #474747;
    
}
.resume-card{
    max-width: 511px;
    margin-right: 30px;
}
.resume-card .card-title{
    font-size: 20px;
    margin-bottom: 10px;
    color: #474747;
}
.resume-card .card-info{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}
.resume-card .card-text{
    font-size: 15px;
    line-height: 28px;
    color: #757575;
}
footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}
footer .footer-container{
    display: flex;
    gap: 70px;
}
footer .footer-container .social{
    max-width: 562px;
}
.footer-container h2{
    font-size: 30px;
    color: #181818;
    margin-bottom: 20px;
}
.footer-container p{
    color: #474747;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 30px;
}
.footer-container .icon a{
    margin-right: 24px;
}
.footer-container form input[type=text],
.footer-container form textarea{
    width: 441px;
    padding: 18px 30px;
    border: none;
    margin-bottom: 24px;
    border-radius: 5px;
    color: #757575;
    font-size: 14px;
}
