/* shered styles */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.container{
    width: 70%;
    max-width: 1071px;
    margin: 0px auto;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
    
}
.color-orange{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

/* main styles */

header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .manu{
    display: flex;
    list-style-type: none;
    gap: 30px;
    align-items: center;
}
nav .manu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
